<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Liutos的博客</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script type="text/javascript" src="/js/hideshow.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Liutos的博客</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                      <li><a href="#">RSS</a></li>
                      <li><a href="#">关于博主</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">乍听之下，不无道理；仔细揣摩，胡说八道(￣ε(#￣)</a></li>
                  </ul>
              </div>
          </div><!-- /.container-fluid -->
      </nav>
    <div id="outest">
      <div id="title-part">
	<!-- TMPL_VAR blog-title -->
      </div>
      <div id="post-part">
          <table class="table">
              <caption>文章列表</caption>
              <!-- TMPL_LOOP posts-info -->
              <tr>
                  <td>
                      <a href="<!-- TMPL_VAR post-link -->"><!-- TMPL_VAR post-title --></a><span class="public-time"><!-- TMPL_VAR post-date --></span>
                  </td>
              </tr>
              <!-- /TMPL_LOOP -->
          </table>
      </div>
      <div id="navigator-part">
	<div id="categories-part">
	  <fieldset>
	    <legend>文章类别</legend>
	    <ul id="categories">
	      <!-- TMPL_LOOP categories -->
	      <li>
		<a href="javascript: void(0)" onclick="hideShowArticles('<!-- TMPL_VAR category-name -->')"><!-- TMPL_VAR category --></a>
		<div class="sub-ulist">
                  <ul id="<!-- TMPL_VAR category-name -->"
		      style="display: none;">
		    <!-- TMPL_LOOP articles -->
		    <li><a href="<!-- TMPL_VAR post-link -->"><!-- TMPL_VAR post-title --></a></li>
		    <!-- /TMPL_LOOP -->
		  </ul>
                </div>
	      </li>
	      <!-- /TMPL_LOOP -->
	    </ul>
	  </fieldset>
	</div>
	<div id="friends-part">
	  <fieldset id="friends-fieldset">
	    <legend>友情链接</legend>
	    <ul id="friend-links">
	      <!-- TMPL_LOOP friends -->
	      <li><a href="<!-- TMPL_VAR link -->"><!-- TMPL_VAR name --></a></li>
	      <!-- /TMPL_LOOP -->
	    </ul>
	  </fieldset>
	</div>
	<div id="tags-part">
	  <!-- TMPL_VAR tags -->
	</div>
      </div>
    </div>
  </body>
</html>
