<!DOCTYPE html>
<html>
    <!-- TMPL_INCLUDE 'head.html' -->
    <body>
        <!-- TMPL_INCLUDE 'masthead.html' -->
        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title"><!-- TMPL_VAR blog-title --></h1>
                <p class="blog-description"><!-- TMPL_VAR blog-description --></p>
            </div>
            <div class="row">
                <div class="blog-main col-sm-8">
                    <div class="blog-post">
                        <h2 class="blog-post-title"><!-- TMPL_VAR post-title --></h2>
                        <!-- TMPL_INCLUDE 'post-meta.html' -->
                        <div class="blog-post-body">
                            <!-- TMPL_VAR post-body -->
                        </div>
                    </div>
                    <div class="blog-post-nav">
                        <!-- TMPL_INCLUDE 'post-nav.html' -->
                    </div>
                    <div class="blog-post-comment">
                        <!-- TMPL_INCLUDE 'comment.html' -->
                    </div>
                </div>
                <div class="blog-sidebar col-sm-3">
                    <div class="sidebar-module">
                        <h4>分类</h4>
                        <ol class="list-unstyled">
                            <!-- TMPL_LOOP categories -->
                            <li><!-- TMPL_VAR name --></li>
                            <!-- /TMPL_LOOP -->
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <footer class="blog-footer">
        </footer>
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
